body {
    background: linear-gradient(#fafafa,#DC143C);
}

/* navigation bar */
.brand {
    font-family: 'Creepster', cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
}


.nav-link {
    font-family: 'Recursive', sans-serif;
    font-size: 0.8rem;
}

.strapline {
    font-family: 'Recursive', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* login/logout/signup */
.formheading {
    font-family: 'Creepster', cursive;
}

.authentication {
    font-family: 'Recursive', sans-serif;
}
.accounts-text {
    font-family: 'Recursive', sans-serif;
}

.btn-signup {
    background-color:  black;
    color: #fafafa;
    font-family: 'Recursive', sans-serif;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: red;
}

.link {
    color: crimson;
    text-shadow: #fafafa 0px 0px 2px;
    font-family: 'Recursive', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: underline;
}

/* blog posts on home page */
.card-img-top {
    height: 22.5rem;
    width: 100%;
}


.post-title {
    font-weight: 500;
    line-height: 1.2;
    color: black;
    font-family: 'Recursive', sans-serif;
}

/* site pagination */
.prev, .next {
    color: #fafafa;
    font-family: 'Creepster', cursive;
    font-size: 1rem;
}

.prev:hover,.next:hover {
    color: black;
}

/* footer */
.socials {
    font-family: 'Recursive', sans-serif;
}


/*blog post text on card*/
a {
    color: black;
    font-family: 'Recursive', sans-serif;
    text-decoration: none;
}

a:hover {
    color: crimson;
}

.author {
    font-family: 'Recursive', sans-serif;
}

/* social media links */
.twit, .face, .insta {
    color: #fafafa
}

.twit:hover, .face:hover, .insta:hover {
    color: black;
}

